aider-install==0.1.3
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
aiosqlite==0.21.0
annotated-types==0.7.0
anthropic==0.50.0
anyio==4.9.0
argcomplete==3.6.2
asgiref==3.8.1
asn1crypto==1.5.1
asttokens==3.0.0
attrs==24.3.0
babel==2.16.0
backoff==2.2.1
bcrypt==4.3.0
beautifulsoup4==4.12.3
boto3==1.38.4
botocore==1.38.4
cachetools==5.5.1
certifi==2025.1.31
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.1
click==8.1.8
cohere==5.15.0
colorama==0.4.6
comm==0.2.2
contourpy==1.3.1
courlan==1.3.2
croniter==6.0.0
cryptography==44.0.3
cycler==0.12.1
dateparser==1.2.0
debugpy==1.8.13
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
distlib==0.3.9
distro==1.9.0
dnspython==2.7.0
ecdsa==0.19.1
email_validator==2.2.0
eval_type_backport==0.2.2
executing==2.2.0
fastapi[standard]
fastavro==1.10.0
filelock==3.17.0
fireworks-ai==0.15.11
fonttools==4.55.1
frozenlist==1.5.0
fsspec==2025.3.2
google==3.0.0
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-api-python-client==2.161.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-genai==1.12.1
google-generativeai==0.8.4
googleapis-common-protos==1.67.0
greenlet==3.1.1
griffe==1.7.3
groq==0.23.1
grpcio==1.70.0
grpcio-status==1.70.0
h11==0.14.0
html2text==2024.2.26
htmldate==1.9.3
httpcore==1.0.8
httplib2==0.22.0
httpx==0.28.1
httpx-sse==0.4.0
httpx-ws==0.7.1
huggingface-hub==0.30.2
identify==2.6.10
idna==3.10
importlib_metadata==8.6.1
iniconfig==2.1.0
ipykernel==6.29.5
ipython==9.0.2
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jiter==0.8.2
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==3.0.0
jupyter_client==8.6.3
jupyter_core==5.7.2
jusText==3.0.1
kiwisolver==1.4.7
langchain==0.3.14
langchain-anthropic==0.3.1
langchain-core==0.3.29
langchain-fireworks==0.2.6
langchain-openai==0.2.14
langchain-text-splitters==0.3.4
langsmith==0.2.10
logfire-api==3.14.1
lxml==5.3.0
lxml_html_clean==0.4.1
MainContentExtractor==0.0.4
markdown-it-py==3.0.0
matplotlib==3.9.3
matplotlib-inline==0.1.7
mcp==1.6.0
mdurl==0.1.2
mistralai==1.7.0
monotonic==1.6
motor==3.7.0
multidict==6.1.0
nest-asyncio==1.6.0
nodeenv==1.9.1
numpy==2.1.3
openai==1.76.1
opentelemetry-api==1.32.1
orjson==3.10.13
packaging==24.2
pandas==2.2.3
parso==0.8.4
passlib==1.7.4
pbr==6.1.1
pexpect==4.9.0
pg8000==1.31.2
pillow==11.0.0
platformdirs==4.3.6
playwright==1.49.1
pluggy==1.5.0
posthog==3.7.5
pre_commit==4.2.0
print-color==0.4.6
procrastinate==3.1.0
prompt_toolkit==3.0.50
propcache==0.2.1
proto-plus==1.26.0
protobuf==5.29.3
psutil==7.0.0
psycopg==3.2.8
psycopg-pool==3.2.6
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==19.0.1
pyasn1==0.4.8
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.11.3
pydantic-ai==0.1.8
pydantic-ai-slim==0.1.8
pydantic-evals==0.1.8
pydantic-graph==0.1.8
pydantic-settings==2.9.1
pydantic_core==2.33.1
pyee==12.0.0
Pygments==2.19.1
pymongo==4.12.1
pyparsing==3.2.0
pytest==8.3.5
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jose==3.4.0
python-multipart==0.0.20
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.1
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rich==14.0.0
rsa==4.9
ruff==0.11.9
s3transfer==0.12.0
scramp==1.4.5
setuptools==75.8.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.36
sse-starlette==2.3.3
stack-data==0.6.3
starlette==0.46.2
stevedore==5.4.0
tenacity==9.0.0
tiktoken==0.8.0
tld==0.13
tokenizers==0.21.1
tornado==6.4.2
tqdm==4.67.1
trafilatura==2.0.0
traitlets==5.14.3
types-requests==2.32.0.20250328
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.1
tzlocal==5.2
uritemplate==4.1.1
urllib3==2.3.0
uv==0.5.13
uvicorn==0.34.1
virtualenv==20.29.1
virtualenv-clone==0.5.7
virtualenvwrapper==6.1.1
wcwidth==0.2.13
websockets==15.0.1
wrapt==1.17.2
wsproto==1.2.0
yarl==1.18.3
zipp==3.21.0
